<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?5fb44d97475829cacb4b50ff2d0c92af";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<script id="dsq-count-scr" src="//https-nontech-top.disqus.com/count.js" async></script>